<p>formulaire de saisie</p>

<%= form_for(@product) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :description %>
<%= f.text_field :description %>
<%= f.label :prix_sans_reduction  %>
<%= f.text_field :price %>
<%= f.label :Pourcentage_de_réduction %>
<%= f.text_field :reduction %>
<%= f.label :image  %>
<%= f.text_field :image %>
<%= f.submit 'Valider', :class => 'button info' %>
<% end %>