<%= render 'header' %>

<div class="container">

<h1>Index des produits</h1>

<table>
<% @products.each do |product| %>
<tr>
	<td><%= product.name.capitalize %></td>
	<td><%= product.description %></td>
	<td><%= product.price %></td>
	<td><%= product.reduction %></td>
	<td><%= product.image %></td>
	<td><%= link_to "Voir", product_path(product) %></td>
	<td><%= link_to "Editer", edit_product_path(product) %></td>
	<td><%= link_to "Effacer", product, method: :delete, data: { confirm: 'Etes vous sûr de vouloir effacer ce produit ?' } %></td>
</tr>
<% end %>

</table>

</div>